@import 'tailwindcss';

body {
  background-color: #121212;
  color: whitesmoke;
}
html,
body,
#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937;
}

::-webkit-scrollbar-thumb {
  background-color: #db2777;
  border-radius: 9999px;
}
